@import "../bootstrap/scss/functions";
@import "../base/functions";
@import "../base/variables";
@import "../bootstrap/scss/variables";
@import "../bootstrap/scss/mixins";
@import "../base/mixins";


// Block center
%block-center {
	margin-left: auto;
	margin-right: auto;
}


// Modifying
.block-center {
	@extend %block-center;
}

.block-sm {
	max-width: 280px;
}

.block-md {
	max-width: 390px;
}

.block-lg {
	max-width: 500px;
}

.block-1 {
	max-width: px-to-rem( 530px );
}


// Media
@include media-breakpoint-up(lg) {
	.block-2 {
		max-width: 390px;
	}
}

