//- Button App
mixin button-store
	.btns.group-20
		a.btn.btn-round.btn-dark.btn-store( href='#' )
			span.icon-lg.me-1.mdi.mdi-apple
			span
				span.btn-store-text-small Available on
				span.btn-store-text App Store
		a.btn.btn-round.btn-secondary.btn-store( href='#' )
			span.icon-lg.me-1.mdi.mdi-google-play
			span
				span.btn-store-text-small Available on
				span.btn-store-text Google Play
