@import "../bootstrap/scss/functions";
@import "../base/functions";
@import "../base/variables";
@import "../bootstrap/scss/variables";
@import "../bootstrap/scss/mixins";
@import "../bootstrap/scss/buttons";
@import "../bootstrap/scss/button-group";
@import "../base/mixins";


// Base
.btn {
	position: relative;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	border: $btn-border-width solid transparent;
	font-family: $btn-font-family;
	font-weight: $btn-font-weight;
	box-shadow: $btn-box-shadow;
	background: $white;
	color: $gray-700;
	transition: $transition-base;
	line-height: $btn-line-height;

	@include button-size(
		$btn-padding-y,
		$btn-padding-x,
		$btn-font-size,
		$btn-border-radius
	);

	&:hover,
	&.hover,
	&:active,
	&.active {
		box-shadow: $btn-focus-box-shadow;
		text-decoration: none;
		border-color: transparent;
		background: $gray-100;
		color: $gray-700;
	}

	&:focus,
	&.focus {
		outline: 0;
		box-shadow: none !important;
	}

	&.disabled,
	&:disabled {
		opacity: $btn-disabled-opacity;
		pointer-events: none;
	}

	&.btn-nuka {
		&:hover,
		&.hover,
		&:active,
		&.active {
			background-color: $white;
			border-color: $white;
		}

		.btn-overlay {
			background: adjust-color( $white, $hue: 1deg, $saturation: -7%, $lightness: -5% );
		}
	}
}


// Icon
.btn-icon {
	font-size: 1em;
	margin: 0 .47058em;

	&:first-child {
		margin-left: 0;
	}

	&:last-child {
		margin-right: 0;
	}
}



// Spacing
* + .btn,
* + .btns {
	margin-top: px-to-rem( 30px );
}

.row + .btn {
	margin-top: px-to-rem( 40px );
}


// Modifying
.btn-outline {
	box-shadow: none;
	border-color: $white;
	background: transparent;
	color: $white;

	&:hover {
		border-color: $white;
		background: $white;
		color: $gray-900;
	}
}

.btn-block {
	display: flex;
	width: 100%;
}

.btn-rect {
	&,
	&.btn-sm,
	&.btn-lg {
		border-radius: 0;
	}
}

.btn-round {
	border-radius: $btn-padding-y * 2 + $btn-font-size * $btn-line-height;

	&.btn-sm {
		border-radius: $btn-padding-y-sm * 2 + $btn-font-size-sm * $btn-line-height-sm;
	}

	&.btn-lg {
		border-radius: $btn-padding-y-lg * 2 + $btn-font-size-lg * $btn-line-height-lg;
	}
}


// Sizing
.btn-sm {
	line-height: $btn-line-height-sm;
	@include button-size(
			$btn-padding-y-sm,
			$btn-padding-x-sm,
			$btn-font-size-sm,
			$btn-border-radius-sm
	);
}

.btn-lg {
	line-height: $btn-line-height-lg;
	@include button-size(
			$btn-padding-y-lg,
			$btn-padding-x-lg,
			$btn-font-size-lg,
			$btn-border-radius-lg
	);
}

// Theming
@each $color, $value in $theme-colors {
	.btn-#{$color} {
		color: color-contrast( $value );
		border-color: $value;
		background-color: $value;

		&:hover,
		&.hover,
		&:active,
		&.active {
			$accent-value: none;
			@if ( get-yiq( $value ) >= 30 ) {
				$accent-value: adjust-color( $value, $hue: 1deg, $saturation: -7%, $lightness: -5% );
			} @else {
				$accent-value: adjust-color( $value, $hue: 240deg, $saturation: -15%, $lightness: 15% );
			}
			color: color-contrast( $accent-value );
			border-color: $accent-value;
			background-color: $accent-value;
		}

		&.btn-outline {
			color: $value;
			border-color: $value;
			background-color: transparent;

			&:hover,
			&.hover,
			&:active,
			&.active {
				color: color-contrast( $value );
				background-color: $value;
			}
		}

		&.btn-nuka {
			&:hover,
			&.hover,
			&:active,
			&.active {
				color: color-contrast( $value );
				border-color: $value;
				background-color: $value;
			}

			.btn-overlay {
				$accent-value: none;
				@if ( get-yiq( $value ) >= 30 ) {
					$accent-value: adjust-color( $value, $hue: 1deg, $saturation: -7%, $lightness: -5% );
				} @else {
					$accent-value: adjust-color( $value, $hue: 240deg, $saturation: -15%, $lightness: 15% );
				}
				background-color: $accent-value;
			}
		}
	}
}


// Media
@include media-breakpoint-up(xxl) {
	* + .btn,
	* + .btns {
		margin-top: px-to-rem( 40px );
	}
}


// Button effects
@import "button-store";
@import "button-nuka";
