include ../lin-icon/_lin-icon
include ../input/_input

// Popup newsletter
#popup-newsletter-2.popup.text-center.modal( tabindex='-1', role='dialog' )
	.modal-dialog( role='document' )
		.modal-content.bounceIn
			button.close( type='button', data-dismiss='modal', aria-label='Close' )
				span( aria-hidden='true' ) ×
			.modal-body
				+lin-message-2( 'gradient-3' ).lin-md
				h4.fw-medium.font-family-base.mt-3 Subscribe To
				h3.text-primary-orange.mt-1 Our Newsletter
				p.mt-2 Be the first to get the latest updates and exclusive content straight to your email inbox.
				form.rd-mailform( data-form-output='popup-newsletter-form-output-2', data-form-type='subscribe', method='post', action='components/rd-mailform/rd-mailform.php' )
					.form-group
						input.form-control( type='email', name='email', placeholder='Your email address *', data-constraints='@Email @Required' )
					.offset-xxs
						button.btn.btn-round.btn-secondary.btn-nuka( type='submit' ) Join Us
							span.btn-overlay
				.offset-xs
					+checkbox( {
						id: 'check2'
					} )
						| I agree to the
						| #[a.link.link-primary( href='#' ) Privacy Policy] and
						| #[a.link.link-primary( href='#' ) Terms of Use],
						| and want to receive news

#popup-newsletter-form-output-2.form-output.snackbar.snackbar-secondary