include  ../layout/_layout

// Corporate popup set
section#corporate-popup-set.section.section-lg.bg-transparent.text-center
	.container
		h2= pageName
		.row.row-offset-sm.row-30.row-xl-50
			.col-xs-6.col-md-4
				+layout-popup({
					img:   'corporate-popup/popups/popup-01-390x237',
					title: 'Newsletter Popup ( Slide In Right )',
					id:    'popup-newsletter'
				}).block.block-center.block-md( data-animate!={ class: 'fadeInUp' } )
				include ../popup-newsletter/_popup-newsletter
			.col-xs-6.col-md-4
				+layout-popup({
					img:   'corporate-popup/popups/popup-02-390x237',
					title: 'Join Popup ( Flip In X )',
					id:    'popup-join'
				}).block.block-center.block-md( data-animate!={ class: 'fadeInUp' } )
				include ../popup-join/_popup-join
			.col-xs-6.col-md-4
				+layout-popup({
					img:   'corporate-popup/popups/popup-03-390x237',
					title: 'Newsletter Popup 2 ( Bounce In )',
					id:    'popup-newsletter-2'
				}).block.block-center.block-md( data-animate!={ class: 'fadeInUp' } )
				include ../popup-newsletter-2/_popup-newsletter-2
			.col-xs-6.col-md-4
				+layout-popup({
					img:   'corporate-popup/popups/popup-04-390x237',
					title: 'Sale Popup ( Fade In Up Big )',
					id:    'popup-sale'
				}).block.block-center.block-md( data-animate!={ class: 'fadeInUp' } )
				include ../popup-sale/_popup-sale
			.col-xs-6.col-md-4
				+layout-popup({
					img:   'corporate-popup/popups/popup-05-390x237',
					title: 'Discount Popup ( Slide In Down )',
					id:    'popup-discount'
				}).block.block-center.block-md( data-animate!={ class: 'fadeInUp' } )
				include ../popup-discount/_popup-discount
			.col-xs-6.col-md-4
				+layout-popup({
					img:   'corporate-popup/popups/popup-06-390x237',
					title: 'Contact Us Popup ( Bounce In Left )',
					id:    'popup-contact-us'
				}).block.block-center.block-md( data-animate!={ class: 'fadeInUp' } )
				include ../popup-contact-us/_popup-contact-us
			.col-xs-6.col-md-4
				+layout-popup({
					img:   'corporate-popup/popups/popup-07-390x237',
					title: 'Support Popup ( Slide In Left )',
					id:    'popup-support'
				}).block.block-center.block-md( data-animate!={ class: 'fadeInUp' } )
				include ../popup-support/_popup-support
			.col-xs-6.col-md-4
				+layout-popup({
					img:   'corporate-popup/popups/popup-08-390x237',
					title: 'Privacy Popup ( Rotate In )',
					id:    'popup-privacy'
				}).block.block-center.block-md( data-animate!={ class: 'fadeInUp' } )
				include ../popup-privacy/_popup-privacy
			.col-xs-6.col-md-4
				+layout-popup({
					img:   'corporate-popup/popups/popup-09-390x237',
					title: 'Cookie Policy Popup ( Fade In Up )',
					id:    'popup-cookie-policy'
				}).block.block-center.block-md( data-animate!={ class: 'fadeInUp' } )
				include ../popup-cookie-policy/_popup-cookie-policy
			.col-xs-6.col-md-4
				+layout-popup({
					img:   'corporate-popup/popups/popup-10-390x237',
					title: 'Yes/No Popup ( Shake )',
					id:    'popup-with-question'
				}).block.block-center.block-md( data-animate!={ class: 'fadeInUp' } )
				include ../popup-with-question/_popup-with-question
			.col-xs-6.col-md-4
				+layout-popup({
					img:   'corporate-popup/popups/popup-11-390x237',
					title: 'Video Popup( Slide In Down )',
					id:    'popup-video'
				}).block.block-center.block-md( data-animate!={ class: 'fadeInUp' } )
				include ../popup-video/_popup-video
			.col-xs-6.col-md-4
				+layout-popup({
					img:   'corporate-popup/popups/popup-12-390x237',
					title: 'Contact Us Popup 2 ( Slide In Right )',
					id:    'popup-contact-us-2'
				}).block.block-center.block-md( data-animate!={ class: 'fadeInUp' } )
				include ../popup-contact-us-2/_popup-contact-us-2
			.col-xs-6.col-md-4
				+layout-popup({
					img:   'corporate-popup/popups/popup-13-390x237',
					title: 'Appointment Popup ( Bounce In )',
					id:    'popup-appointment'
				}).block.block-center.block-md( data-animate!={ class: 'fadeInUp' } )
				include ../popup-appointment/_popup-appointment
			.col-xs-6.col-md-4
				+layout-popup({
					img:   'corporate-popup/popups/popup-14-390x237',
					title: 'CTA Popup ( Pulse )',
					id:    'popup-cta'
				}).block.block-center.block-md( data-animate!={ class: 'fadeInUp' } )
				include ../popup-cta/_popup-cta
			.col-xs-6.col-md-4
				+layout-popup({
					img:   'corporate-popup/popups/popup-15-390x237',
					title: 'CTA Popup 2 ( Flip In Y )',
					id:    'popup-cta-2'
				}).block.block-center.block-md( data-animate!={ class: 'fadeInUp' } )
				include ../popup-cta-2/_popup-cta-2
			.col-xs-6.col-md-4
				+layout-popup({
					title: 'App Popup ( Bounce In Right )',
					img:   'corporate-popup/popups/popup-16-390x237',
					id:    'popup-app'
				}).block.block-center.block-md( data-animate!={ class: 'fadeInUp' } )
				include ../popup-app/_popup-app
			.col-xs-6.col-md-4
				+layout-popup({
					img:   'corporate-popup/popups/popup-17-390x237',
					title: 'App Popup 2 ( Rotate In )',
					id:    'popup-app-2'
				}).block.block-center.block-md( data-animate!={ class: 'fadeInUp' } )
				include ../popup-app-2/_popup-app-2
			.col-xs-6.col-md-4
				+layout-popup({
					img:   'corporate-popup/popups/popup-18-390x237',
					title: 'Pricing Popup ( Slide In Left )',
					id:    'popup-pricing'
				}).block.block-center.block-md( data-animate!={ class: 'fadeInUp' } )
				include ../popup-pricing/_popup-pricing
			.col-xs-6.col-md-4
				+layout-popup({
					img:   'corporate-popup/popups/popup-19-390x237',
					title: 'Countdown Popup',
					id:    'popup-countdown'
				}).block.block-center.block-md( data-animate!={ class: 'fadeInUp' } )
				include ../popup-countdown/_popup-countdown