// Advantages 2
section.section.section-lg.bg-transparent
	.container
		.row.row-30.align-items-center
			.col-xs-8.col-md-6.col-lg-7( data-animate!={ class: 'fadeInUp' } )
				+img( 'image-21-660x406.png' )
			.col-md-6.col-lg-5.col-xl-4( data-animate!={ class: 'fadeInUp' } )
				h3 Efficient app for your finances with attractive ui
				p.lead Lintense is not only 100% functional, but it also has a great looking interface. With its  help, you can take full control of:
				ul.list.list-secondary.list-mark-check.lead
					li.list-item Bills
					li.list-item Budget
					li.list-item Debts