// Advantages
section.section.section-lg.bg-transparent
	.container
		.row.row-30
			.col-xs-8.col-md-5.col-lg-7.col-xxl-auto( data-animate!={ class: 'fadeInUp' } )
				+img( 'blurs/blur-04-660x406.png' )
			.col-md-7.col-lg-5( data-animate!={ class: 'fadeInUp' } )
				h2 Lintense puts brands on the front page of serp with effective technical SEO.
				p.lead From research to implementation and even audits of existing strategies, our experts work with our clients to drive them to the top of search results pages.
				a.btn.btn-round.btn-secondary.btn-nuka( href='#' ) Learn More
					span.btn-overlay
