// Technologies
section.section.section-lg.bg-transparent
	.container
		.row.row-30.align-items-center.justify-content-center.flex-md-row-reverse
			.col-xs-10.col-sm-9.col-md-7.col-xl-6( data-animate!={ class: 'fadeInUp' } )
				.group-20.d-flex.flex-wrap
					.brand.brand-default
						+img( 'landing/logos/logo-01-116x116.png' ).brand-default-image
					.brand.brand-default
						+img( 'landing/logos/logo-02-116x116.png' ).brand-default-image
					.brand.brand-default
						+img( 'landing/logos/logo-03-116x116.png' ).brand-default-image
					.brand.brand-default
						+img( 'landing/logos/logo-04-116x116.png' ).brand-default-image
					.brand.brand-default
						+img( 'landing/logos/logo-05-116x116.png' ).brand-default-image
					.brand.brand-default
						+img( 'landing/logos/logo-06-116x116.png' ).brand-default-image
					.brand.brand-default
						+img( 'landing/logos/logo-07-116x116.png' ).brand-default-image
					.brand.brand-default
						+img( 'landing/logos/logo-08-116x116.png' ).brand-default-image
					.brand.brand-default
						+img( 'landing/logos/logo-09-116x116.png' ).brand-default-image
					.brand.brand-default
						+img( 'landing/logos/logo-10-116x116.png' ).brand-default-image
					.brand.brand-default
						+img( 'landing/logos/logo-11-116x116.png' ).brand-default-image
			.col-xs-10.col-sm-9.col-md-5.col-xl-6( data-animate!={ class: 'fadeInUp' } )
				.block.block-center.block-2
					h3 Cutting-edge technologies & useful plugins
					p.lead Lintense is built using the best technologies and innovative web development practices to make your website look exceptional.