include ../material-parallax/_material-parallax

// Intro
+parallax({
	img:        'images/image-31-1920x1400.jpg',
	innerClass: 'section-one-screen section-lg'
}).context-dark.text-center
	.container( data-animate!={ class: 'fadeInUp' } )
		h1 At Lintense, we provide uniquely designed furniture for any type of interior and exterior.