include  ../wave/_wave

// Intro
section.section.section-lg.bg-gradient-dark-violet.context-dark.text-center.position-relative( style='padding: 12.5% 0 17.5%' )
	+wave-dark-1
	.container( data-animate!={ class: 'fadeInUp' } )
		a.brand( href='index.html' )
			+img( 'logo-inverse-461x100.png', { retina: true } )( style='max-width: 50%' )
		h2 Lintense is a robust, responsive multi-purpose
			| #[br.d-none.d-xl-block]
			| HTML5 Bootstrap based template
		p.lead A variety of impressive landing pages and dozens of useful features and plugins!
		a.btn.btn-round.btn-primary.btn-nuka( href='#' ) Discover now
			span.btn-overlay