// Parallax scene
section.section.image-group.image-group-2.parallax-js
	.image-group-item-1
		.layer( data-depth='.1' )
			+img( 'landing/screens/screen-01-237x150' )
	.image-group-item-2
		.layer( data-depth='.2' )
			+img( 'landing/screens/screen-02-176x131' )
	.image-group-item-3
		.layer( data-depth='.15' )
			+img( 'landing/screens/screen-03-278x231' )
	.image-group-item-4
		.layer( data-depth='.25' )
			+img( 'landing/screens/screen-04-170x198' )
	.image-group-item-5
		.layer( data-depth='.1' )
			+img( 'landing/screens/screen-05-366x325' )
	.image-group-item-6
		.layer( data-depth='.2' )
			+img( 'landing/screens/screen-06-264x165' )
	.image-group-item-7
		.layer( data-depth='.3' )
			+img( 'landing/screens/screen-07-168x90' )
	.image-group-item-8
		.layer( data-depth='.15' )
			+img( 'landing/screens/screen-08-327x146' )
	.image-group-item-9
		.layer( data-depth='.25' )
			+img( 'landing/screens/screen-09-223x131' )
	.image-group-item-10
		.layer( data-depth='.3' )
			+img( 'landing/screens/screen-10-206x123' )
	.image-group-item-11
		.layer( data-depth='.25' )
			+img( 'landing/screens/screen-11-252x153' )
	.image-group-item-12
		.layer( data-depth='.2' )
			+img( 'landing/screens/screen-12-214x163' )
	.image-group-item-13
		.layer( data-depth='.15' )
			+img( 'landing/screens/screen-13-281x199' )
	.image-group-item-14
		.layer( data-depth='.3' )
			+img( 'landing/screens/screen-14-153x93' )