// Unique Design
section.section.section-lg.bg-transparent
	.container
		.row.row-30.flex-sm-row-reverse.align-items-center
			.col-6( data-animate!={ class: 'fadeInUp' } )
				.d-inline-block
					+img( 'image-29-480x660' ).offset-negative-1
			.col-sm-6.col-xl-5( data-animate!={ class: 'fadeInUp' } )
				h2 Unique design and outstanding functionality
				p.lead Our furniture balances both form and function, while bringing artistry and joy to your life. Each product we sell is unique, i.e. handcrafted by our team.