// Novi
section.section.section-lg.bg-transparent
	.container
		.row.row-40.align-items-center.justify-content-center.flex-md-row-reverse
			.col-xs-10.col-sm-9.col-md-6( data-animate!={ class: 'fadeInUp' } )
				+img( 'landing/image-01-730x456.gif' ).shadow-sm
			.col-xs-10.col-sm-9.col-md-6( data-animate!={ class: 'fadeInUp' } )
				.block.block-center.block-2
					.logo-novi
						+img( 'landing/logo-novi-285x53.png', { retina: true } )
					h3 Novi Visual HTML page builder included
					p.lead Create your stunning HTML website quickly and easily with Novi Builder, which is a perfect match for both non-techies planning to launch their own websites and coding experts delivering quality web products.