div( class="calendly-inline-widget" data-url="https://calendly.com/jonathan-roy-lobium-soft/rencontre-lobium" style="min-width:320px;height:700px;" )
script( type="text/javascript" src="https://assets.calendly.com/assets/external/widget.js" async )