// Popup with question
#popup-with-question.popup.text-center.modal.shake( tabindex='-1', role='dialog' )
	.modal-dialog( role='document' )
		.modal-content
			button.close( type='button', data-dismiss='modal', aria-label='Close' )
				span( aria-hidden='true' ) ×
			.modal-body
				h4.fw-medium.font-family-base.text-primary-orange We Need to Verify Your Age
				h3.mt-2 Are You 18 or Older?
				.offset-xs.group-20
					a.btn.btn-round.btn-secondary.btn-nuka( href='#' ) Yes
						span.btn-overlay
					a.btn.btn-round.btn-primary.btn-nuka( href='#' ) No
						span.btn-overlay
