include ../../lin-icon/_lin-icon

// Web Design Features
section#features.section.section-lg.bg-transparent
	.container
		.row.row-40.align-items-center
			.col-md-8.col-lg-7.col-xl-4( data-animate!={ class: 'fadeInUp' } )
				h6 Web Design Features
				h2 All our websites can offer a wide variety of useful features
			.col-xl-8.text-center( data-animate!={ class: 'fadeInUp' } )
				.row.row-30.row-xl-50
					.col-6.col-sm-4.col-md-3
						+lin-target.lin-lg.text-700
						.lead.mt-2 Responsive design
					.col-6.col-sm-4.col-md-3
						+lin-html.lin-lg.text-700
						.lead.mt-2 Powerful search
					.col-6.col-sm-4.col-md-3
						+lin-briefcase.lin-lg.text-700
						.lead.mt-2 Cool animations
					.col-6.col-sm-4.col-md-3
						+lin-wireframe.lin-lg.text-700
						.lead.mt-2 Customization
					.col-6.col-sm-4.col-md-3
						+lin-presentation.lin-lg.text-700
						.lead.mt-2 Seo friendly code
					.col-6.col-sm-4.col-md-3
						+lin-trophy.lin-lg.text-700
						.lead.mt-2 Flexible ui
					.col-6.col-sm-4.col-md-3
						+lin-browser.lin-lg.text-700
						.lead.mt-2 Varied layouts
					.col-6.col-sm-4.col-md-3
						+lin-economy.lin-lg.text-700
						.lead.mt-2 Parallax
