include ../../wave/_wave

// Our Recent Projects
section#book-a-meeting.section.section-lg.bg-800.context-dark.text-center.position-relative
	+wave-dark
	.container( data-animate!={ class: 'fadeInUp' } )
		h6 Quoi de mieux que de se parler pour bien se comprendre?
		h1 Reservez une rencontre avec nous dès maintenant!
		p.lead Notre équipe a déjà hâte d'entendre parler de votre projet!
		include ../../calendly/_calendly