include ../../wave/_wave

// Book a Meeting Section
section#book-a-meeting.section.section-lg.bg-800.context-dark.text-center.position-relative
	+wave-dark
	.container( data-animate!={ class: 'fadeInUp' } )
		h6= __('calendly.subtitle')
		h1= __('calendly.title')
		p.lead= __('calendly.description')
		include ../../calendly/_calendly