include ../../wave/_wave

// Welcome to Lintense
section.section.section-lg.context-dark.text-500.text-center.position-relative.pb-0
	.bg-layer.bg-800( style='bottom: 12%' )
		+wave-dark
	.container
		div( data-animate!={ class: 'fadeInUp' } )
			h6= __('intro.subtitle')
			h1= __('intro.title')
			p.lead.d-none.d-sm-block= __('intro.description')
		+img( 'blurs/blur-01-830x473.png' )( data-animate!={ class: 'fadeInUp' } )

