include ../../wave/_wave

// Welcome to Lintense
section.section.section-lg.context-dark.text-500.text-center.position-relative.pb-0
	.bg-layer.bg-800( style='bottom: 12%' )
		+wave-dark
	.container
		div( data-animate!={ class: 'fadeInUp' } )
			h6 Nous sommes Lobium
			h1 Notre expérience au service de l’innovation
			p.lead.d-none.d-sm-block Forts de nombreuses années d'expérience sur le marché numérique, nous pouvons vous offrir ce que vous recherchez,
				| #[br.d-none.d-lg-block]
				| de la simple landing page au système complexe nécessitant un savoir faire de pointe
		+img( 'blurs/blur-01-830x473.png' )( data-animate!={ class: 'fadeInUp' } )

