//- Wave dark
mixin wave-dark
	// Wave dark
	svg.wave-dark( width='1920', height='713', viewBox='0 0 1920 713', fill='none' )&attributes( attributes )
		path.wave-path.wave-path-1( d='M1920 463.314V713H0V414.325C0.0515862 414.316 0.103105 414.308 0.154556 414.299C59.8232 467.769 270.664 573.445 636.676 568.392C873.316 565.126 1040.4 505.514 1188.57 452.65C1326.86 403.309 1448.68 359.846 1595.21 373.565C1727.41 385.944 1837.94 423.471 1920 463.314Z', fill='white' )
		path.wave-path.wave-path-2( d='M1920 463.988V713H0V234.66C102.275 199.182 221.353 170.486 354.422 158.026C584.381 136.494 775.567 204.707 992.611 282.146C1225.15 365.113 1373 457.092 1858.75 463.796C1879.49 464.082 1899.9 464.142 1920 463.988Z', fill='white' )
		path.wave-path.wave-path-3( d='M1920 85.9538V713H0V310.063C15.2357 310.099 30.6508 310.012 46.2454 309.796C417.632 304.67 679.852 211.113 912.389 128.146C1129.43 50.7068 1320.62 -17.5061 1550.58 4.02629C1690.21 17.1004 1814.43 48.0502 1920 85.9538Z', fill='white' )

//- Wave dark 1
mixin wave-dark-1
	// Wave dark
	svg.wave-dark( width='1920', height='713', viewBox='0 0 1920 713', fill='none' )&attributes( attributes )
		path.wave-path.wave-path-2( d='M1920 463.988V713H0V234.66C102.275 199.182 221.353 170.486 354.422 158.026C584.381 136.494 775.567 204.707 992.611 282.146C1225.15 365.113 1373 457.092 1858.75 463.796C1879.49 464.082 1899.9 464.142 1920 463.988Z', fill='white' )
		path.wave-path.wave-path-3( d='M1920 85.9538V713H0V310.063C15.2357 310.099 30.6508 310.012 46.2454 309.796C417.632 304.67 679.852 211.113 912.389 128.146C1129.43 50.7068 1320.62 -17.5061 1550.58 4.02629C1690.21 17.1004 1814.43 48.0502 1920 85.9538Z', fill='white' )
		path.wave-path.wave-path-1( d='M1920 463.314V713H0V414.325C0.0515862 414.316 0.103105 414.308 0.154556 414.299C59.8232 467.769 270.664 573.445 636.676 568.392C873.316 565.126 1040.4 505.514 1188.57 452.65C1326.86 403.309 1448.68 359.846 1595.21 373.565C1727.41 385.944 1837.94 423.471 1920 463.314Z', fill='white' )

//- Wave light
mixin wave-light
	svg.wave-light( width='1920', height='1060', viewBox='0 0 1920 1060', fill='none' )&attributes( attributes )
		path.wave-path( d='M1270.8 218.376C1568.83 102.736 1850.63 180.948 2030.21 307.382C2032.51 308.998 2034.48 310.988 2036.1 313.28L2244.6 608.07C2253.3 620.368 2249.27 637.477 2235.62 643.849C2136.91 689.931 1934.93 754.715 1745.59 720.317C1486.28 673.211 1150.28 423.428 797.391 434.116C526.793 442.311 106.516 537.961 -92.8574 590.62C-106.447 594.21 -120.226 585.95 -123.559 572.295L-211.97 210.086C-214.872 198.199 -208.784 185.922 -197.319 181.649C-86.282 140.272 153.264 93.3374 366.435 189.479C649.935 317.339 970.87 334.757 1270.8 218.376Z', fill='#4D4468' )
		path.wave-path( d='M772.48 255.118C380.165 103.024 9.24323 206.281 -226.745 372.767C-229.039 374.385 -231.01 376.373 -232.632 378.664L-512.582 774.127C-521.29 786.427 -517.274 803.55 -503.683 810.064C-377.112 870.73 -105.683 960.41 148.442 914.284C489.263 852.422 930.89 524.399 1394.72 538.435C1753.87 549.303 2313.64 677.282 2572.46 745.98C2586.04 749.585 2599.94 741.362 2603.28 727.711L2722.96 237.787C2725.87 225.895 2719.88 213.66 2708.45 209.275C2565.44 154.399 2245.45 89.0608 1961.15 217.17C1588.53 385.08 1166.7 407.953 772.48 255.118Z', fill='#4D4468' )
		path.wave-path( d='M1447.25 805.997C1794.64 1025.39 2182.35 991.059 2453.13 870.614C2455.6 869.515 2457.81 868.064 2459.73 866.318L2833.15 525.603C2842.65 516.93 2842.3 503.238 2831.92 495.349C2724.31 413.548 2478 274.243 2215.74 273.626C1867.52 272.805 1356.87 514.147 906.52 416.969C558.455 341.862 42.8667 116.692 -194.437 2.73577C-207.328 -3.45464 -223.54 1.25043 -229.521 12.9186L-466.827 475.879C-471.469 484.935 -468.544 495.538 -459.301 501.375C-333.611 580.741 -34.896 703.74 275.402 629.247C680.162 532.076 1098.27 585.601 1447.25 805.997Z', fill='#4D4468' )

//- Wave primary
mixin wave-primary
	svg.wave-primary( width='1920', height='761', viewbox='0 0 1920 761', fill='none' )&attributes( attributes )
		path.wave-path.wave-path-3( d='M1920 0C1868.64 28.7312 1767 105.232 1695.1 215.862C1605.14 354.271 1419.02 474.469 1280.98 388.267C1142.94 302.064 961.469 319.062 882.367 459.899C803.265 600.737 677.632 585.659 497.714 507.956C334.904 437.641 257.19 626.164 214 761H1920V0Z' )
		path.wave-path.wave-path-2( d='M1920 287C1862.19 304.896 1747.81 352.545 1666.89 421.453C1565.65 507.663 1356.18 542.53 1200.82 488.838C1045.46 435.145 841.231 445.732 752.206 533.455C663.182 621.178 521.79 689.158 319.303 640.76C136.071 596.963 48.6073 677.016 0 761H1920V287Z' )
		path.wave-path.wave-path-1( d='M0 761V673.062C17.2169 674.438 35.2639 676.42 54.1873 679.064C273.969 709.775 432 617.316 536.497 556.18C544.219 551.661 551.649 547.314 558.79 543.201C723.453 463.081 840.092 497.29 966.341 534.318C1005.86 545.91 1046.33 557.777 1089.5 566.5C1230.41 594.97 1308.84 548.102 1392.3 498.225C1416.11 484.002 1440.32 469.535 1466.5 456.5C1624.43 377.88 1748.84 433.944 1832.78 471.772C1870.02 488.554 1899.29 501.748 1920 498V761H0Z' )

//- Wave primary 1
mixin wave-primary-1
	svg.wave-primary( width='1185', height='343', viewbox='0 0 1185 343', fill='none' )&attributes( attributes )
		path.wave-path.wave-path-3( d='M1185 0C1157.93 12.9121 1104.38 47.2921 1066.49 97.0104C1019.08 159.213 921.001 213.23 848.259 174.49C775.516 135.75 679.889 143.389 638.205 206.683C596.521 269.976 530.317 263.2 435.507 228.28C349.712 196.68 308.759 281.404 286 342H1185V0Z' )
		path.wave-path.wave-path-2( d='M1185 130C1130.78 135.862 1103.45 183.551 1058.99 214.516C1003.35 253.256 875.191 244.827 789.826 220.699C704.46 196.572 624.775 175.11 543.322 240.749C494.405 280.168 416.713 310.717 305.45 288.968C204.768 269.287 156.709 305.26 130 343H1185V130Z' )
		path.wave-path.wave-path-1( d='M129.93 343H0C48.8458 294.67 149.308 308.485 159.707 309.565C280.48 322.097 367.321 284.367 424.743 259.419C428.987 257.576 433.07 255.802 436.994 254.123C524.604 216.645 591.574 235.389 660.95 250.498C682.667 255.228 704.903 260.071 728.627 263.631C806.058 275.248 849.157 256.123 895.023 235.77C908.102 229.966 921.406 224.062 935.795 218.743C1025.92 185.429 1090.94 209.539 1137.07 224.975C1157.53 231.824 1173.62 237.207 1185 235.678V343H129.93Z' )

//- Wave
mixin wave
	// Wave
	svg.wave( width='1920px' height='150px' viewbox='0 0 1920 150' )
		path( fill='#fff', d='M1920,150H0V43c0,0,150.026,143.803,641.497,32 C1380-93,1920,90,1920,90' )

//- Wave 1
mixin wave-1
	// Wave
	svg.wave( width='1920px', height='150px', viewbox='0 0 1920 150' )&attributes( attributes )
		path(fill='#fff', stroke-miterlimit='10', d='M0,150V83c0,0,460-167.25,1244.844-23.672C1790.298,159.113,1920,40,1920,40v110H0z')