-
	var
		logo = {
			default: 'logo-default-landing-386x106.png',
			inverse: 'logo-inverse-landing-386x106.png',
			name:    'Lintense'
		},

		menu = [
			{
				title: 'Qui sommes-nous',
				link:  '#about'
			},
			{
				title: 'Nos technologies',
				link:  '#pricing'
			},
			{
				title: 'FAQ',
				link:  '#faq'
			}
		],

		homePage,
		pageName,
		pageId,
		htmlClass,
		breadcrumbs = [];
