-
	var
		logo = {
			default: 'logo-default-landing-386x106.png',
			inverse: 'logo-inverse-landing-386x106.png',
			name:    'Lintense'
		},

		menu = [
			{
				title: __('menu.about'),
				link:  '#about'
			},
			{
				title: __('menu.technology'),
				link:  '#pricing'
			},
			{
				title: __('menu.faq'),
				link:  '#faq'
			},
			{
				languageSwitcher: true
			}
		],

		homePage,
		pageName,
		pageId,
		htmlClass,
		breadcrumbs = [];
