-
	var
		logo = {
			default: 'logo-default-landing-386x106.png',
			inverse: 'logo-inverse-landing-386x106.png',
			name:    'Lintense'
		},

		buyLink = 'https://www.templatemonster.com/landing-page-template/all-in-one-landing-page-lintense/',

		menu = [
			{
				title: 'Layouts',
				link:  '#layouts'
			},
			{
				title: 'Features',
				link:  '#features'
			},
			{
				title: 'Updates',
				link:  '#updates'
			},
			{
				title: 'Support',
				link:  '#support'
			}
		],

		menuCorporate = [
			{
				title: 'About',
				link:  '#about'
			},
			{
				title: 'Pricing',
				link:  '#pricing'
			},
			{
				title: 'FAQ',
				link:  '#faq'
			},
			{
				title: 'Contacts',
				link:  '#contacts'
			}
		],

		menuApp = [
			{
				title: 'About',
				link:  '#about'
			},
			{
				title: 'Features',
				link:  '#features'
			},
			{
				title: 'Tutorial',
				link:  '#tutorial'
			},
			{
				title: 'Gallery',
				link:  '#gallery'
			},
			{
				title: 'Pricing',
				link:  '#pricing'
			}
		],

		menuDigital = [
			{
				title: 'About',
				link:  '#about'
			},
			{
				title: 'What We Do',
				link:  '#what-we-do'
			},
			{
				title: 'How We Work',
				link:  '#how-we-work'
			},
			{
				title: 'Contacts',
				link:  '#contacts'
			}
		],

		menuPromotion = [
			{
				title: 'About',
				link:  '#about'
			},
			{
				title: 'Portfolio',
				link:  '#portfolio'
			},
			{
				title: 'Why Choose Us',
				link:  '#why-choose-us'
			},
			{
				title: 'What We Do',
				link:  '#what-we-do'
			}
		],

		menuSeo = [
			{
				title: 'About Us',
				link:  '#about'
			},
			{
				title: 'Advantages',
				link:  '#advantages'
			},
			{
				title: 'What We Do',
				link:  '#what-we-do'
			},
			{
				title: 'Testimonials',
				link:  '#testimonials'
			}
		],

		menuOneProduct = [
			{
				title: 'About',
				link:  '#about'
			},
			{
				title: 'Features',
				link:  '#features'
			},
			{
				title: 'Pricing',
				link:  '#pricing'
			},
			{
				title: 'Specifications',
				link:  '#specifications'
			}
		],

		menuPopup = [
			{
				title: 'Corporate popup set',
				link:  '#corporate-popup-set'
			},
			{
				title: 'Other popup set',
				link:  '#other-popup-set'
			}
		],

		homePage,
		pageName,
		pageId,
		htmlClass,
		breadcrumbs = [];
