// Text styling

// Gray colors
@each $color, $value in $grays {
	.text-#{$color} {
		color: $value;
	}
}

.text-primary-2 {
	color: $primary-2;
}

.context-dark {
	.text-primary-2 {
		color: $primary-2;
	}
}

.text-primary-orange {
	color: $primary-orange;
}

// Font family
.font-family-base {
	font-family: $font-family-base;
}

// Context dark
.context-dark {
	.text-contrast {
		color: $gray-400;
	}
}