// Variables

$white:    #FFF;
$gray-100: #F7F6F9;
$gray-200: #E9E9EB;
$gray-300: #CCCCCC;
$gray-400: #B7B7B7;
$gray-500: #9BA0AC;
$gray-600: #696E7B;
$gray-700: #293043;
$gray-800: #192031;
$gray-900: #111111;
$black:    #000;

$primary:        #01C9F5;
$primary-violet: #572B9D;
$primary-orange: #FF6A2B;
$secondary:      #0066FF;
$success:        #77BA21;
$info:           #138CE4;
$warning:        #F19711;
$danger:         #E72660;
$light:          $gray-100;
$dark:           $black;

$theme-colors: (
	"primary":    $primary,
	"secondary":  $secondary,
	"success":    $success,
	"info":       $info,
	"warning":    $warning,
	"danger":     $danger,
	"light":      $light,
	"dark":       $dark,
	"primary-orange": $primary-orange
);

$youtube:  #FE0000;
$facebook: #4867AA;
$twitter:  #1EA1F3;
$linkedin: #3997D0;


// Colors shade
$primary-1: adjust-color( $primary, $hue: 16deg, $saturation: -1%, $lightness: 2% ); // #028DFC
$primary-2: adjust-color( $primary, $hue: 10deg, $saturation: 1%, $lightness: 2% ); // #01A4FF
$primary-orange-1: adjust-color( $primary-orange, $hue: 22deg, $saturation: 0%, $lightness: -7% ); //#FFAB07


// Gradients
$gradients: (
	blue-aqua: linear-gradient( 270deg, $primary 0%, $primary-1 100.44% ),
	orange-gold: linear-gradient( 90deg, $primary-orange 0%, $primary-orange-1 100% ),
	orange-gold-vertical: linear-gradient( 180deg, $primary-orange 0%, $primary-orange-1 100% ),
	orange-gold-vertical-reverse: linear-gradient( 0deg, $primary-orange 0%, $primary-orange-1 100% ),
	shamrock-blue: linear-gradient( 45deg, #43DD93 0%, #28A8FF 100% ),
	blue-violet: linear-gradient( 46.03deg, #28A8FF -1.86%, #7D2EFF 100% ),
	electric-violet: linear-gradient( 225deg, #C728FF 0%, #7D2EFF 100% ),
	dark-violet: linear-gradient( -8.15deg, $secondary 4.67%, $gray-900 49.99% )
);

// Disable smooth-scroll in bootstrap
$enable-smooth-scroll:        false;

// The yiq lightness value
$min-contrast-ratio:   1.5;


// Body
$body-color: $gray-600;


// Grid breakpoints
$grid-breakpoints: (
	xxs: 0,
	xs: 480px,
	sm: 576px,
	md: 768px,
	lg: 992px,
	xl: 1200px,
	xxl: 1600px
);


// Grid containers
$container-max-widths: (
	sm: 540px,
	md: 720px,
	lg: 960px,
	xl: 1200px,
	xxl: 1320px
);


// Grid columns
$grid-gutter-width: px-to-rem( 40px );
$grid-gutter-width-xl: px-to-rem( 50px );


// Components
$border-width:     1px;
$border-color:     $gray-300;


$border-radius:    px-to-rem( 8px );
$border-radius-lg: px-to-rem( 25px );

$box-shadow-sm:    0 14px 36px rgba($gray-700, .1);
$box-shadow:       0 5px 20px rgba($gray-700, .08);
$box-shadow-lg:    0 14px 36px rgba($gray-700, .25);


// Fonts
$font-family-base: 'Roboto', sans-serif;
$font-family-sec:  'Merriweather', serif;
$font-family-mono: 'IBM Plex Mono', monospace;
$font-size-base: px-to-rem( 16px );
$font-size-lg: px-to-rem( 20px );
$font-size-sm: px-to-rem( 14px );
$line-height-base: 1.625;
$line-height-lg: 1.6;
$line-height-sm: 1.6;
$font-weight-base: 300;

$h1-font-size: px-to-rem( 60px );
$h2-font-size: px-to-rem( 36px );
$h3-font-size: px-to-rem( 28px );
$h4-font-size: px-to-rem( 22px );
$h5-font-size: px-to-rem( 18px );
$h6-font-size: px-to-rem( 18px );

$h1-line-height: 1.25;
$h2-line-height: 1.25;
$h3-line-height: 1.4;
$h4-line-height: 1.4;
$h5-line-height: 1.4;
$h6-line-height: 1.6;

$headings-color: $gray-700;
$headings-font-weight: 700;

$lead-font-size: $font-size-lg;
$lead-font-weight: inherit;

$small-font-size: $font-size-sm;

$mark-padding: 0 .1em;
$mark-bg: $secondary;

$hr-border-color:             rgba($black, .1);
$hr-border-width:             1px;
$hr-margin-y: 0;


// Links
$link-color:       $secondary;


// Buttons
$btn-padding-y:        px-to-rem( 16px );
$btn-padding-x:        px-to-rem( 32px );
$btn-font-size:        $font-size-base;
$btn-line-height:      1.125;

$btn-padding-y-sm:     px-to-rem( 9px );
$btn-padding-x-sm:     px-to-rem( 20px );
$btn-font-size-sm:     $font-size-base;
$btn-line-height-sm:   1.125;

$btn-padding-y-lg:     px-to-rem( 19px );
$btn-padding-x-lg:     px-to-rem( 40px );
$btn-font-size-lg:     $font-size-base;
$btn-line-height-lg:   1.125;

$btn-border-width:     2px;

$btn-font-weight:      700;
$btn-box-shadow:       none;
$btn-focus-box-shadow: none;
$btn-disabled-opacity: .4;

$btn-border-radius:    $border-radius;
$btn-border-radius-sm: $border-radius;
$btn-border-radius-lg: $border-radius;


// Forms
$label-margin-bottom: .5rem;
$label-font-size: $font-size-base;

$input-padding-y: px-to-rem( 13px );
$input-padding-x: px-to-rem( 19px );
$input-font-size: px-to-rem( 18px );
$input-font-weight: 700;
$input-line-height: 1.222;

$input-padding-y-lg: px-to-rem( 18px );
$input-padding-x-lg: px-to-rem( 30px );
$input-font-size-lg: $input-font-size;
$input-line-height-lg: $input-line-height;

$input-bg: $gray-100;
$input-disabled-bg: rgba( $gray-100, .8 );

$input-color: $gray-700;
$input-border-color: $input-bg;
$input-border-width: $border-width;

$input-border-radius: 0;
$input-border-radius-lg: $input-border-radius;

$input-focus-bg: $white;
$input-focus-color: $gray-700;
$input-focus-border-color: $gray-200;
$input-focus-box-shadow: none;

$input-height-border: $input-border-width * 2;
$input-height: #{$input-font-size * $input-line-height + $input-padding-y * 2 + px-to-rem($input-height-border)};
$input-height-lg: #{$input-font-size-lg * $input-line-height-lg + $input-padding-y-lg * 2 + px-to-rem($input-height-border)};

$form-grid-gutter-width: 30px;

$input-group-addon-color: $input-focus-color;
$input-group-addon-bg: $input-bg;


// Z-index master list
$zindex-dropdown:       10;
$zindex-sticky:         11;
$zindex-popover:        12;
$zindex-tooltip:        13;
$zindex-fixed:          14;
$zindex-modal-backdrop: 15;
$zindex-modal:          16;


// Badges
$badge-font-size: px-to-rem(18px);
$badge-font-weight: 700;
$badge-padding-y: px-to-rem( 10px );
$badge-padding-x: px-to-rem( 11px );
$badge-border-radius: 0;


// Tables
$table-cell-padding: 19px 20px;
$table-color:        $gray-900;
$table-accent-bg:    $gray-200;


// Modals
$modal-inner-padding:         px-to-rem( 50px );

$modal-content-border-radius: 0;

$modal-backdrop-bg:           $gray-700;
$modal-backdrop-opacity:      .4;

$modal-xl:                    px-to-rem( 1140px );
$modal-lg:                    px-to-rem( 730px );
$modal-md:                    px-to-rem( 490px );

$modal-fade-transform:        none;


// Popups
$popup-border-radius: px-to-rem( 12px );