// Popup cookie policy
#popup-cookie-policy.popup.popup-round.text-start.modal.fadeInUp( tabindex='-1', role='dialog' )
	.modal-dialog.modal-xl.align-items-end( role='document' )
		.modal-content
			button.close( type='button', data-dismiss='modal', aria-label='Close' )
				span( aria-hidden='true' ) ×
			.modal-body.py-3
				.group-20.d-flex.flex-wrap.flex-xs-nowrap.align-items-center.justify-content-xl-center
					p
						| #[span.icon.icon-primary.mdi-information]
						span.fw-medium.text-700 Cookie Policy.
						| This website uses cookies to ensure you get the best experience on our website.
					div
						a.btn.btn-sm.btn-secondary.btn-nuka( href='#' ) Accept
							span.btn-overlay
