include ../logo/_logo
include _navigation
	include ../lin-icon/_lin-icon

header.section.page-header
	//RD Navbar
	.rd-navbar-wrap
		nav.rd-navbar.rd-navbar-dark.rd-navbar-absolute(
			data-rd-navbar!={
				responsive: {
					1200: { autoHeight: false }
				}
			}
		)
			.rd-navbar-main-outer
				.rd-navbar-main
					//RD Navbar Panel
					.rd-navbar-panel
						//RD Navbar Toggle
						button.rd-navbar-toggle( data-rd-navbar-toggle='.rd-navbar-nav-wrap' ): span

						//RD Navbar Brand
						.rd-navbar-brand
							+logo

					.rd-navbar-main-element
						.rd-navbar-nav-wrap
							+navigation( menuSeo )
						//RD Navbar Search
						.rd-navbar-search
							button.rd-navbar-search-toggle.rd-navbar-fixed-element-1( data-rd-navbar-toggle='.rd-navbar-search' ): span
								+lin-search.rd-navbar-search-toggle-icon
							form.rd-search( action='#' )
								.form-group
									input.form-control.rd-navbar-search-form-input( id='rd-navbar-search-form-input', type='text', name='s', placeholder='Enter search keyword', autocomplete='off' )
									button.rd-search-form-submit( type='submit' )
										+lin-search
