// Top-quality
section.section.section-lg.bg-transparent
	.container
		.row.row-30.align-items-center( data-animate!={ class: 'fadeInUp' } )
			.col-8.col-sm-5.col-md-6.col-lg-7
				+img( 'image-34-660x480' )
			.col-sm-7.col-md-6.col-lg-5
				h2 Top-quality wood for minimal impact
				p.lead Our company works with the best suppliers of high-quality wood that has over 15 years of guarantee and minimal influence on ecology.