// About us
section#about.section.section-lg.bg-transparent
	.container
		.row.row-10.row-md-30
			.col-md-8.col-lg-4( data-animate!={ class: 'fadeInUp' } )
				h2 #1 creative Digital Agency dedicated to our customers
			.col-md-6.col-lg-4( data-animate!={ class: 'fadeInUp' } )
				p.lead Lintense is a full-service digital marketing agency dedicated to providing excellence in SEM, SEO, Analytics, Conversion, and SMM. We’re passionate and eager to help you.
			.col-md-6.col-lg-4( data-animate!={ class: 'fadeInUp' } )
				p.lead Join us on our journey and you can expect a results-oriented approach that cuts a clear path through the digital detritus.
		.row.row-30.justify-content-between
			.col-lg-2( data-animate!={ class: 'fadeInUp' } )
				h6 More than 10,000 companies all over the world trust us
			.col-lg-auto( data-animate!={ class: 'fadeInUp' } )
				.group-20.d-flex.flex-wrap
					a.brand.brand-boxed( href='#' )
						+img( 'logos/logo-01-50x71.png' ).brand-boxed-image
					a.brand.brand-boxed( href='#' )
						+img( 'logos/logo-02-68x67.png' ).brand-boxed-image
					a.brand.brand-boxed( href='#' )
						+img( 'logos/logo-03-94x71.png' ).brand-boxed-image
					a.brand.brand-boxed( href='#' )
						+img( 'logos/logo-04-38x84.png' ).brand-boxed-image
					a.brand.brand-boxed( href='#' )
						+img( 'logos/logo-05-103x57.png' ).brand-boxed-image