include  ../quote/_quote

// Testimonials
section#testimonials.section.section-lg.bg-transparent
	.container
		h2.text-center( data-animate!={ class: 'fadeInUp' } ) What our clients say
		.row.justify-content-center
			.col-xl-10
				// Owl Carousel
				.owl-carousel.owl-style-3(
						data-owl={
							margin: 40,
							nav: true,
							dots: true,
							responsive: {
								768: {
									items: 2
								},
								1600: {
									items: 2,
									margin: 50
								}
							}
						}
					)
					+quote-boxed({
						text:     'With the help of Lintense, I finally managed to lessen my spendings and gain a better control of my finances.',
						img:      'persons/person-02-60x60',
						name:     'Roy Sanders',
						position: 'Regular Client'
					})
					+quote-boxed({
						text:     'This is an amazing app. Once I installed it, I was able to manage every aspect of my everyday expenses.',
						img:      'persons/person-03-60x60',
						name:     'Anna Robinson',
						position: 'Regular Client'
					})
					+quote-boxed({
						text:     'When you work with finances, it is very important to pay attention to every transaction. With your app, it’s simple!',
						img:      'persons/person-04-60x60',
						name:     'Craig Edwards',
						position: 'Regular Client'
					})
					+quote-boxed({
						text:     'Your app allowed me to take care of every side of my online purchases! It’s amazing and now I use your app everyday.',
						img:      'persons/person-05-60x60',
						name:     'Judith Bell',
						position: 'Regular Client'
					})
