include ../material-parallax/_material-parallax

// CTA 2
+parallax({
	img:        'images/image-36-1920x1400.jpg',
	innerClass: 'section-one-screen section-lg'
})#what-we-do.context-dark.text-center
	.container( data-animate!={ class: 'fadeInUp' } )
		h1 We use high-quality natural materials for furniture manufacturing
		p.lead All of our upholstered furniture is handmade in our workshop using only the finest quality
			| #[br.d-none.d-lg-block]
			| materials. We maintain a steadfast commitment to quality that is evident in our every product.
		a.btn.btn-round.btn-secondary.btn-nuka( href='#' ) Order Now
			span.btn-overlay