// SEO
section#features.section.section-lg.bg-transparent
	.container
		.row.row-30.align-items-center.justify-content-center
			.col-xs-10.col-sm-9.col-md-6( data-animate!={ class: 'fadeInUp' } )
				+img( 'landing/blurs/blur-01-610x376.png' )
			.col-xs-10.col-sm-9.col-md-6
				.block.block-center.block-2( data-animate!={ class: 'fadeInUp' } )
					h3 Complete SEO optimization with incredible speed & performance
