include ../lin-icon/_lin-icon

// Competitive Rates
section.section.section-lg.bg-transparent
	.container
		.row.row-30.align-items-center.flex-md-row-reverse
			.col-xs-8.col-md-6.col-xl-7( data-animate!={ class: 'fadeInUp' } )
				+img( 'image-12-660x406' )
			.col-md-6.col-xl-5
				.row.row-30.row-lg-40
					.col-12( data-animate!={ class: 'fadeInUp' } )
						.media.media-sm
							.media-left
								.icon.icon-circle.icon-xs.icon-primary
									+lin-check
							.media-body
								h4.mt-2 Competitive rates
								p Our streamlined website development process and highly skilled website designers allows us to provide professional yet very affordable website design.
					.col-12( data-animate!={ class: 'fadeInUp' } )
						.media.media-sm
							.media-left
								.icon.icon-circle.icon-xs.icon-primary
									+lin-check
							.media-body
								h4.mt-2 No contracts needed
								p You can increase, pause or stop our services at any time, leaving you completely in control of your marketing budgets.
