// Creating Furniture
section#why-choose-us.section.section-lg.bg-transparent
	.container
		.row.row-30( data-animate!={ class: 'fadeInUp' } )
			.col-md-6.col-lg-5
				h2 Creating furniture for your daily life
				p.lead For over 20 years, we have been designing and creating one-of-a-kind furniture that shapes the lives of our clients and partners all over the USA.
				p.lead Whether you have distinct taste, or a unique space that needs a custom designed piece, our certified custom-made furniture makers will help you get anything made. On our website, you can find ideas including: custom upholstery, custom tables, custom chairs, custom bedroom sets, custom shelves, and more.
			.col-md-6.col-lg-5.offset-lg-1
				h2 Why people choose our furniture
				p.lead Our clients value our furniture not only for its quality and creativity. Here are some other reasons to choose us.
				.row.row-30.row-lg-40
					.col-12
						h4 01. Contemporary design
						p Lintense is constantly expanding its product range with unique designs that will suit any living space and even offices.
					.col-12
						h4 02. Extended warranty
						p Our furniture comes with an extended 10 year structural warranty, so you can rest easy knowing that we will be there to assist.