// Clients
section.section.section-lg.bg-transparent.text-center
	.container
		h2( data-animate!={ class: 'fadeInUp' } ) Over 5,000 companies trust us with their
			| #[br.d-none.d-md-block]
			| success on the internet
		.row.row-30.align-items-center.justify-content-center.justify-content-md-around( data-animate!={ class: 'fadeInUp' } )
			.col-auto
				a.brand.brand-minimal( href='#' )
					+img( 'logos/logo-01-50x71.png' ).brand-minimal-image
			.col-auto
				a.brand.brand-minimal( href='#' )
					+img( 'logos/logo-02-68x67.png' ).brand-minimal-image
			.col-auto
				a.brand.brand-minimal( href='#' )
					+img( 'logos/logo-03-94x71.png' ).brand-minimal-image
			.col-auto
				a.brand.brand-minimal( href='#' )
					+img( 'logos/logo-04-38x84.png' ).brand-minimal-image
			.col-auto
				a.brand.brand-minimal( href='#' )
					+img( 'logos/logo-05-103x57.png' ).brand-minimal-image