// Welcome to Lintense
section#about.section.section-lg.bg-transparent.text-center.section-image-group-1
	.container
		.row.justify-content-center
			.col-lg-10.col-xl-8( data-animate!={ class: 'fadeInUp' } )
				h2 Welcome to Lintense
				p.lead Founded in 1999, Lintense has been a leading provider of custom-designed furniture for over 20 years. We specialize in highly creative furniture, sculptures and art, woodworking and fabrication for all regions across the country.
	.image-group.image-group-1
		+img( 'image-27-480x660' ).image-group-item-1( data-animate!={ class: 'fadeInUp' } )
		+img( 'image-28-660x480' ).image-group-item-2.shadow-sm( data-animate!={ class: 'fadeInUp' } )