// Why Choose Us
section.section.section-lg.bg-transparent.text-center
	.container
		.row.justify-content-center
			.col-md-11.col-lg-9.col-xl-8( data-animate!={ class: 'fadeInUp' } )
				h6 Why Choose Us
				h2 Industry innovators since 1999
				p.lead Since the day of our establishment, we have been revolutionizing the industry of digital solutions and web design that resulted in over 150k successful projects.
				a.btn.btn-round.btn-secondary.btn-nuka( href='#' ) Learn More
					span.btn-overlay
