// About us
section.section.section-lg.bg-transparent
	.container
		.row.row-30.flex-md-row-reverse
			.col-xs-8.col-md-5.col-xl-7.text-xl-end( data-animate!={ class: 'fadeInUp' } )
				+img( 'blurs/blur-05-660x406.png' )
			.col-md-7.col-xl-5( data-animate!={ class: 'fadeInUp' } )
				h2 Lintense is the industry leading company changing the SEO field since 2009
				p.lead Our team specializes in ways for business owners to grow their business while spending less on advertising and getting more results and better traffic.
				a.btn.btn-round.btn-secondary.btn-nuka( href='#' ) Learn More
					span.btn-overlay