// CTA
section.section.section-sm.bg-gradient-blue-aqua.context-dark
	.container( data-animate!={ class: 'fadeInUp' } )
		.row.row-30.align-items-center
			.col-sm-8.col-md-7.col-xxl-6
				.decor.decor-left
					h2 Let’s discuss your idea
					p.mt-0 Have a thought about your future website? We are always open for your ideas.
			.col-sm-auto
				a.btn.btn-round.btn-nuka( href='#' ) Get in Touch
					span.btn-overlay
