// Images
section.section( data-animate!={ class: 'fadeIn' } )
	.row.g-0
		.col-6.col-xs-3
			+img( 'image-37-480x337' ).w-100
		.col-6.col-xs-3
			+img( 'image-38-480x337' ).w-100
		.col-6.col-xs-3
			+img( 'image-39-480x337' ).w-100
		.col-6.col-xs-3
			+img( 'image-40-480x337' ).w-100