// Advantages
section#updates.section.position-relative.section-image-group-3
	+wave-light
	.image-group.image-group-3.parallax-js
		.image-group-item-1
			.layer( data-depth='.1' )
				+img( 'landing/screens/screen-15-204x99' )
		.image-group-item-2
			.layer( data-depth='.2' )
				+img( 'landing/screens/screen-16-172x124' )
		.image-group-item-3
			.layer( data-depth='.15' )
				+img( 'landing/screens/screen-17-208x126' )
		.image-group-item-4
			.layer( data-depth='.25' )
				+img( 'landing/screens/screen-18-111x82' )
		.image-group-item-5
			.layer( data-depth='.1' )
				+img( 'landing/screens/screen-19-138x142' )
		.image-group-item-6
			.layer( data-depth='.2' )
				+img( 'landing/screens/screen-20-121x65' )
		.image-group-item-7
			.layer( data-depth='.3' )
				+img( 'landing/screens/screen-21-173x148' )
		.image-group-item-8
			.layer( data-depth='.15' )
				+img( 'landing/screens/screen-22-242x199' )
		.image-group-item-9
			.layer( data-depth='.25' )
				+img( 'landing/screens/screen-23-275x207' )
		.image-group-item-10
			.layer( data-depth='.3' )
				+img( 'landing/screens/screen-24-193x83' )
		.image-group-item-11
			.layer( data-depth='.15' )
				+img( 'landing/screens/screen-25-163x121' )
	.container
		.row.row-30.justify-content-center.justify-content-md-end
			.col-xs-10.col-sm-9.col-md-6( data-animate!={ class: 'fadeInUp' } )
				.block.block-center.block-2
					h3 Get regular template updates every fortnight!
					p.lead The updates include new skins (niche themes), functional and technical features, and script version updates (if necessary).
					p.text-italic00 Our team of web designers & developers will do everything possible to increase the convenience of working with Lintense and skyrocket the lead generation and profit of your Landing Page Website.
