include  ../wave/_wave
include  ../layout/_layout

// Template layouts
section#layouts.section.section-lg.bg-transparent.text-center.position-relative
	+wave-light( style='top: 75%' )
	.container
		div( data-animate!={class: 'fadeInUp'} )
			h1.h1-mod.text-primary 33
			h3 Perfectly designed templates
		.row.row-offset-md.row-30.row-xl-50
			.col-xs-6.col-md-4( data-animate!={class: 'fadeInUp'} )
				+layout({
					img: 'landing/layouts/layout-01-390x318',
					title: 'Corporate',
					link: 'landing-corporate.html'
				}).block.block-center.block-md
			.col-xs-6.col-md-4( data-animate!={class: 'fadeInUp'} )
				+layout({
					img: 'landing/layouts/layout-02-390x318',
					title: 'Application',
					link: 'landing-app.html'
				}).block.block-center.block-md
			.col-xs-6.col-md-4( data-animate!={class: 'fadeInUp'} )
				+layout({
					img: 'landing/layouts/layout-03-390x318',
					title: 'Digital Agency',
					link: 'landing-digital-agency.html'
				}).block.block-center.block-md
			.col-xs-6.col-md-4( data-animate!={class: 'fadeInUp'} )
				+layout({
					img: 'landing/layouts/layout-04-390x318',
					title: 'Promotion',
					link: 'landing-promotion.html'
				}).block.block-center.block-md
			.col-xs-6.col-md-4( data-animate!={class: 'fadeInUp'} )
				+layout({
					img: 'landing/layouts/layout-05-390x318',
					title: 'SEO',
					link: 'landing-seo.html'
				}).block.block-center.block-md
			.col-xs-6.col-md-4( data-animate!={class: 'fadeInUp'} )
				+layout({
					img: 'landing/layouts/layout-06-390x318',
					title: 'One Product',
					link: 'landing-one-product.html'
				}).block.block-center.block-md
			.col-xs-6.col-md-4( data-animate!={class: 'fadeInUp'} )
				+layout({
					img: 'landing/layouts/layout-07-390x318',
					title: 'Course',
					link: '../lintense-course/index.html'
				}).block.block-center.block-md
			.col-xs-6.col-md-4( data-animate!={class: 'fadeInUp'} )
				+layout({
					img: 'landing/layouts/layout-08-390x318',
					title: 'E-book',
					link: '../lintense-e-book/index.html'
				}).block.block-center.block-md
			.col-xs-6.col-md-4( data-animate!={class: 'fadeInUp'} )
				+layout({
					img: 'landing/layouts/layout-09-390x318',
					title: 'Doctor',
					link: '../lintense-doctor/index.html'
				}).block.block-center.block-md
			.col-xs-6.col-md-4( data-animate!={class: 'fadeInUp'} )
				+layout({
					img: 'landing/layouts/layout-10-390x318',
					title: 'Clinic',
					link: '../lintense-clinic/index.html'
				}).block.block-center.block-md
			.col-xs-6.col-md-4( data-animate!={class: 'fadeInUp'} )
				+layout({
					img: 'landing/layouts/layout-11-390x318',
					title: 'Hosting',
					link: '../lintense-hosting/index.html'
				}).block.block-center.block-md
			.col-xs-6.col-md-4( data-animate!={class: 'fadeInUp'} )
				+layout({
					img: 'landing/layouts/layout-12-390x318',
					title: 'Real Estate',
					link: '../lintense-real-estate/index.html'
				}).block.block-center.block-md
			.col-xs-6.col-md-4( data-animate!={class: 'fadeInUp'} )
				+layout({
					img: 'landing/layouts/layout-13-390x318',
					title: 'Christmas Event',
					link: '../lintense-christmas-event/index.html'
				}).block.block-center.block-md
			.col-xs-6.col-md-4( data-animate!={class: 'fadeInUp'} )
				+layout({
					img: 'landing/layouts/layout-15-390x318',
					title: 'Christmas Day',
					link: '../lintense-christmas-day/index.html'
				}).block.block-center.block-md
			.col-xs-6.col-md-4( data-animate!={class: 'fadeInUp'} )
				+layout({
					img: 'landing/layouts/layout-14-390x318',
					title: 'Delivery',
					link: '../lintense-delivery/index.html'
				}).block.block-center.block-md
			.col-xs-6.col-md-4( data-animate!={class: 'fadeInUp'} )
				+layout({
					img: 'landing/layouts/layout-17-390x318',
					title: 'Travel',
					link: '../lintense-travel/index.html'
				}).block.block-center.block-md
			.col-xs-6.col-md-4( data-animate!={class: 'fadeInUp'} )
				+layout({
					img: 'landing/layouts/layout-18-390x318',
					title: 'Personal Page',
					link: '../lintense-personal-page/index.html'
				}).block.block-center.block-md

			.col-xs-6.col-md-4( data-animate!={class: 'fadeInUp'} )
				+layout({
					img: 'landing/layouts/layout-19-390x318',
					title: 'Advertising Agency',
					link: '../lintense-advertising-agency/index.html'
				}).block.block-center.block-md

			.col-xs-6.col-md-4( data-animate!={class: 'fadeInUp'} )
				+layout({
					img: 'landing/layouts/layout-20-390x318',
					title: 'Recruitment Agency',
					link: '../lintense-recruitment-agency/index.html'
				}).block.block-center.block-md

			.col-xs-6.col-md-4( data-animate!={class: 'fadeInUp'} )
				+layout({
					img: 'landing/layouts/layout-21-390x318',
					title: 'Insurance Agency',
					link: '../lintense-insurance-agency/index.html'
				}).block.block-center.block-md

			.col-xs-6.col-md-4( data-animate!={class: 'fadeInUp'} )
				+layout({
					img: 'landing/layouts/layout-22-390x318',
					title: 'Financial Adviser',
					link: '../lintense-financial-adviser/index.html'
				}).block.block-center.block-md

			.col-xs-6.col-md-4( data-animate!={class: 'fadeInUp'} )
				+layout({
					img: 'landing/layouts/layout-23-390x318',
					title: 'Charity and Donation',
					link: '../lintense-charity/index.html'
				}).block.block-center.block-md

			.col-xs-6.col-md-4( data-animate!={class: 'fadeInUp'} )
				+layout({
					img: 'landing/layouts/layout-24-390x318',
					title: 'Repair Services',
					link: '../lintense-repair-services/index.html'
				}).block.block-center.block-md

			.col-xs-6.col-md-4( data-animate!={class: 'fadeInUp'} )
				+layout({
					img: 'landing/layouts/layout-25-390x318',
					title: 'Event',
					link: '../lintense-event/index.html'
				}).block.block-center.block-md

			.col-xs-6.col-md-4( data-animate!={class: 'fadeInUp'} )
				+layout({
					img: 'landing/layouts/layout-26-390x318',
					title: 'Law consulting',
					link: '../lintense-law-consulting/index.html'
				}).block.block-center.block-md

			.col-xs-6.col-md-4( data-animate!={class: 'fadeInUp'} )
				+layout({
					img: 'landing/layouts/layout-27-390x318',
					title: 'Photographer Portfolio',
					link: '../lintense-photographer-portfolio/index.html'
				}).block.block-center.block-md

			.col-xs-6.col-md-4( data-animate!={class: 'fadeInUp'} )
				+layout({
					img: 'landing/layouts/layout-28-390x318',
					title: 'Basketball',
					link: '../lintense-basketball/index.html'
				}).block.block-center.block-md

			.col-xs-6.col-md-4( data-animate!={class: 'fadeInUp'} )
				+layout({
					img: 'landing/layouts/layout-29-390x318',
					title: 'Fortune Teller',
					link: '../lintense-fortune-teller/index.html'
				}).block.block-center.block-md
			.col-xs-6.col-md-4( data-animate!={class: 'fadeInUp'} )
				+layout({
					img: 'landing/layouts/layout-30-390x318',
					title: 'Catholic Church',
					link: '../lintense-catholic-church/index.html'
				}).block.block-center.block-md
			.col-xs-6.col-md-4( data-animate!={class: 'fadeInUp'} )
				+layout({
					img: 'landing/layouts/layout-31-390x318',
					title: 'Mobile Repair Service',
					link: '../lintense-mobile-repair/index.html'
				}).block.block-center.block-md
			.col-xs-6.col-md-4( data-animate!={class: 'fadeInUp'} )
				+layout({
					img: 'landing/layouts/layout-32-390x318',
					title: 'Fitness',
					link: '../lintense-fitness/index.html'
				}).block.block-center.block-md
			.col-xs-6.col-md-4( data-animate!={class: 'fadeInUp'} )
				+layout({
					img: 'landing/layouts/layout-33-390x318',
					title: 'Business Consulting',
					link: '../lintense-business-consulting/index.html'
				}).block.block-center.block-md
			.col-xs-6.col-md-4( data-animate!={class: 'fadeInUp'} )
				+layout({
					img: 'landing/layouts/layout-34-390x318',
					title: 'Construction Company',
					link: '../lintense-construction/index.html'
				}).block.block-center.block-md

		.offset-lg
			h4( data-animate!={class: 'fadeInUp'} )
				i( style='color: #D2D4D7' ) Coming Soon
