// Support
section#support.section.section-lg.bg-transparent.text-center.pb-0
	.container
		div( data-animate!={ class: 'fadeInUp' } )
			h3 Dedicated 24/7 support
			p.lead Our Support Service is always available 24 hours a day, 7 days a week to help you create your
				| #[br.d-none.d-lg-block]
				| own business solution.
		div( style='margin-top: 7%', data-animate!={ class: 'fadeInUp' } )
			+img( 'landing/blurs/blur-02-600x228.png' )( style='max-width: 80%' )