// FAQs
section#faq.section.section-lg.bg-transparent
	.container
		.text-center( data-animate!={ class: 'fadeInUp' } )
			h6 FAQs
			h2 Frequently asked questions
		.row.row-30.justify-content-center
			.col-md-6.col-xl-5
				ul.list.list-terms
					li.list-terms-item( data-animate!={ class: 'fadeInUp' } )
						h4.list-terms-title What is a unique/non-unique purchase?
						p.list-terms-text Non-exclusive purchase means that other people can buy the template you have chosen some time later. Exclusive or unique purchase guarantees that you are the last person to buy this template. After an exclusive purchase occurs the template is being permanently removed.
						p.list-terms-text An exclusive template will never be available to other customers again. Only you and people who bought the template before you will own it.
					li.list-terms-item( data-animate!={ class: 'fadeInUp' } )
						h4.list-terms-title What am i allowed to do with a template?
						p.list-terms-text You may build a website using the template in any way you like. You may not resell or redistribute templates (like we do); claim intellectual or exclusive ownership to any of our products. You are also not allowed to make multiple projects with a single template.
			.col-md-6.col-xl-5
				ul.list.list-terms
					li.list-terms-item( data-animate!={ class: 'fadeInUp' } )
						h4.list-terms-title What formats of templates are available?
						p.list-terms-text Website templates are available in Photoshop and HTML formats. Fonts are included with the Photoshop file. In most templates, HTML is compatible with Adobe速 Dreamweaver速 and Microsoft速 FrontPage速.
					li.list-terms-item( data-animate!={ class: 'fadeInUp' } )
						h4.list-terms-title What do i receive after the purchase?
						p.list-terms-text The contents of the download package that you receive after the purchase can vary based on the type of the product:
						ul.list.list-marked.ms-5
							li.list-item Landing page
							li.list-item Blog
							li.list-item Portfolio
