// Technologies
section#technologies.section.section-lg.bg-transparent
	.container
		.row.row-30.align-items-center.flex-lg-row-reverse
			.col-md-8.col-lg-5( data-animate!={ class: 'fadeInUp' } )
				h6 Technologies
				h2 Integrating cutting-edge web technologies
				p.lead Our projects are built and designed using the latest tools and technologies of web industry.
			.col-lg-7( data-animate!={ class: 'fadeInUp' } )
				.group-20.d-flex.flex-wrap
					a.brand.brand-boxed( href='#' )
						+img( 'logos/logo-01-50x71.png' ).brand-boxed-image
					a.brand.brand-boxed( href='#' )
						+img( 'logos/logo-02-68x67.png' ).brand-boxed-image
					a.brand.brand-boxed( href='#' )
						+img( 'logos/logo-03-94x71.png' ).brand-boxed-image
					a.brand.brand-boxed( href='#' )
						+img( 'logos/logo-04-38x84.png' ).brand-boxed-image
					a.brand.brand-boxed( href='#' )
						+img( 'logos/logo-05-103x57.png' ).brand-boxed-image
					a.brand.brand-boxed( href='#' )
						+img( 'logos/logo-06-67x71.png' ).brand-boxed-image
					a.brand.brand-boxed( href='#' )
						+img( 'logos/logo-07-79x71.png' ).brand-boxed-image
					a.brand.brand-boxed( href='#' )
						+img( 'logos/logo-08-82x71.png' ).brand-boxed-image
