include  ../layout/_layout

// Product popup set
section#product-popup-set.section.section-lg.bg-transparent.text-center
	.container
		h2= pageName
		.row.row-offset-sm.row-30.row-xl-50
			.col-xs-6.col-md-4
				+layout-popup({
					img:   'product-popup/popups/popup-01-390x237',
					title: 'Newsletter Popup ( Fade In Down )',
					id:    'popup-newsletter'
				}).block.block-center.block-md( data-animate!={ class: 'fadeInUp' } )
				include ../popup-newsletter/_popup-newsletter-v2
			.col-xs-6.col-md-4
				+layout-popup({
					img:   'product-popup/popups/popup-02-390x237',
					title: 'Join Popup ( Flip In X )',
					id:    'popup-join'
				}).block.block-center.block-md( data-animate!={ class: 'fadeInUp' } )
				include ../popup-join/_popup-join-v2
			.col-xs-6.col-md-4
				+layout-popup({
					img:   'product-popup/popups/popup-03-390x237',
					title: 'Newsletter Popup 2 ( Bounce In )',
					id:    'popup-newsletter-2'
				}).block.block-center.block-md( data-animate!={ class: 'fadeInUp' } )
				include ../popup-newsletter-2/_popup-newsletter-2-v2
			.col-xs-6.col-md-4
				+layout-popup({
					img:   'product-popup/popups/popup-04-390x237',
					title: 'Sale Popup ( Rotate In Up Left )',
					id:    'popup-sale'
				}).block.block-center.block-md( data-animate!={ class: 'fadeInUp' } )
				include ../popup-sale/_popup-sale-v2
			.col-xs-6.col-md-4
				+layout-popup({
					img:   'product-popup/popups/popup-05-390x237',
					title: 'Discount Popup ( Roll In )',
					id:    'popup-discount'
				}).block.block-center.block-md( data-animate!={ class: 'fadeInUp' } )
				include ../popup-discount/_popup-discount-v2
			.col-xs-6.col-md-4
				+layout-popup({
					img:   'product-popup/popups/popup-06-390x237',
					title: 'Contact Us Popup ( Zoom In )',
					id:    'popup-contact-us'
				}).block.block-center.block-md( data-animate!={ class: 'fadeInUp' } )
				include ../popup-contact-us/_popup-contact-us-v2
			.col-xs-6.col-md-4
				+layout-popup({
					img:   'product-popup/popups/popup-07-390x237',
					title: 'Support Popup ( Fade In Right Big )',
					id:    'popup-support'
				}).block.block-center.block-md( data-animate!={ class: 'fadeInUp' } )
				include ../popup-support/_popup-support-v2
			.col-xs-6.col-md-4
				+layout-popup({
					img:   'product-popup/popups/popup-08-390x237',
					title: 'Privacy Popup ( Tada )',
					id:    'popup-privacy'
				}).block.block-center.block-md( data-animate!={ class: 'fadeInUp' } )
				include ../popup-privacy/_popup-privacy-v2
			.col-xs-6.col-md-4
				+layout-popup({
					img:   'product-popup/popups/popup-09-390x237',
					title: 'Cookie Policy Popup ( Fade In Up )',
					id:    'popup-cookie-policy'
				}).block.block-center.block-md( data-animate!={ class: 'fadeInUp' } )
				include ../popup-cookie-policy/_popup-cookie-policy-v2
			.col-xs-6.col-md-4
				+layout-popup({
					img:   'product-popup/popups/popup-10-390x237',
					title: 'Yes/No Popup ( Shake )',
					id:    'popup-with-question'
				}).block.block-center.block-md( data-animate!={ class: 'fadeInUp' } )
				include ../popup-with-question/_popup-with-question-v2
			.col-xs-6.col-md-4
				+layout-popup({
					img:   'product-popup/popups/popup-11-390x237',
					title: 'Video Popup( Pulse )',
					id:    'popup-video'
				}).block.block-center.block-md( data-animate!={ class: 'fadeInUp' } )
				include ../popup-video/_popup-video-v2
			.col-xs-6.col-md-4
				+layout-popup({
					img:   'product-popup/popups/popup-12-390x237',
					title: 'Contact Us Popup 2 ( Swing )',
					id:    'popup-contact-us-2'
				}).block.block-center.block-md( data-animate!={ class: 'fadeInUp' } )
				include ../popup-contact-us-2/_popup-contact-us-2-v2
			.col-xs-6.col-md-4
				+layout-popup({
					img:   'product-popup/popups/popup-13-390x237',
					title: 'Appointment Popup ( Jello )',
					id:    'popup-appointment'
				}).block.block-center.block-md( data-animate!={ class: 'fadeInUp' } )
				include ../popup-appointment/_popup-appointment-v2
			.col-xs-6.col-md-4
				+layout-popup({
					img:   'product-popup/popups/popup-14-390x237',
					title: 'CTA Popup ( Rubber Band )',
					id:    'popup-cta'
				}).block.block-center.block-md( data-animate!={ class: 'fadeInUp' } )
				include ../popup-cta/_popup-cta-v2
			.col-xs-6.col-md-4
				+layout-popup({
					img:   'product-popup/popups/popup-15-390x237',
					title: 'CTA Popup 2 ( Flip In Y )',
					id:    'popup-cta-2'
				}).block.block-center.block-md( data-animate!={ class: 'fadeInUp' } )
				include ../popup-cta-2/_popup-cta-2-v2
			.col-xs-6.col-md-4
				+layout-popup({
					title: 'App Popup ( Bounce In Left )',
					img:   'product-popup/popups/popup-16-390x237',
					id:    'popup-app'
				}).block.block-center.block-md( data-animate!={ class: 'fadeInUp' } )
				include ../popup-app/_popup-app-v2
			.col-xs-6.col-md-4
				+layout-popup({
					img:   'product-popup/popups/popup-17-390x237',
					title: 'App Popup 2 ( Rotate In Down Right )',
					id:    'popup-app-2'
				}).block.block-center.block-md( data-animate!={ class: 'fadeInUp' } )
				include ../popup-app-2/_popup-app-2-v2
			.col-xs-6.col-md-4
				+layout-popup({
					img:   'product-popup/popups/popup-18-390x237',
					title: 'Pricing Popup ( Rotate In )',
					id:    'popup-pricing'
				}).block.block-center.block-md( data-animate!={ class: 'fadeInUp' } )
				include ../popup-pricing/_popup-pricing-v2
			.col-xs-6.col-md-4
				+layout-popup({
					img:   'product-popup/popups/popup-19-390x237',
					title: 'Countdown Popup',
					id:    'popup-countdown'
				}).block.block-center.block-md( data-animate!={ class: 'fadeInUp' } )
				include ../popup-countdown/_popup-countdown-v2