@import "../bootstrap/scss/functions";
@import "../base/functions";
@import "../base/variables";
@import "../bootstrap/scss/variables";
@import "../bootstrap/scss/mixins";


// Modifying
.desktop .section-one-screen {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
}


// Sizing
.section-sm,
.section-lg {
	padding: 60px 0;
}


// Media
@include media-breakpoint-up(md) {
	.section-lg {
		padding: 80px 0;
	}
}

@include media-breakpoint-up( lg ) {
	.section-lg {
		padding: 100px 0;
	}
}

@include media-breakpoint-up( xl ) {
	.section-lg {
		padding: 120px 0;
	}

	html .section-lg-1 {
		padding: 10% 0;
	}
}

@include media-breakpoint-up( xxl ) {
	.section-lg {
		padding: 140px 0;
	}

	.section-inset-xxl-190 {
		padding: 190px 0;
	}
}


// Section Offsets
.section-offset-1 {
	padding-bottom: 1px;
	margin-bottom: -5%;
}

html .section-offset-1 + .section {
	padding-top: 16%;
}

@include media-breakpoint-up(lg) {
	html .section-offset-1 + .section {
		padding-top: 10%;
	}
}