include ../logo/_logo
include ../rights/_rights
include ../list/_list

// Footer
footer.section.footer.footer-sm.bg-800.context-dark.position-relative.overflow-hidden
	+wave-dark( style='bottom: -8vw' )
	.container
		.row.row-30
			.col-xs-6.col-md-5.col-lg-3.col-xl-4
				+logo
				ul.list.footer-contact-list
					li.list-item.h6 P:
						=' '
						a( href='tel:#' ) +1 234 567 8901
					li.list-item
						a.link-inherit( href='#' ) 178 West 27th Street, Suite 527
							| #[br]
							| New York NY 10012
				+list-social
			.col-6.col-xs-3.col-lg-2
				.footer-title.h5 Services
				ul.list.list-lg
					li.list-item
						a.list-link( href='#' ) What We Do
					li.list-item
						a.list-link( href='#' ) How We Work
			.col-6.col-xs-3.col-lg-2
				.footer-title.h5 Company
				ul.list.list-lg
					li.list-item
						a.list-link( href='#' ) About Us
					li.list-item
						a.list-link( href='#' ) Our Team
					li.list-item
						a.list-link( href='#' ) Contacts
			.col-md-10.col-lg-5.col-xl-4
				.footer-title.h5 Subscribe to our newsletter
				p Enter your e-mail below to keep up with our latest news, updates, and special offers.
				form.rd-mailform.form-inline.flex-xl-nowrap.group-10( data-form-output='form-output-subscribe', data-form-type='subscribe', method='post', action='components/rd-mailform/rd-mailform.php' )
					.form-inline-group
						input.form-control.form-control-round( type='email', name='email', placeholder='Your email address *', data-constraints='@Email @Required' )
					button.btn.btn-round.btn-primary.btn-nuka( type='submit' ) Submit
						span.btn-overlay
				#form-output-subscribe.form-output.snackbar.snackbar-secondary

		+rights
