include ../logo/_logo
include ../rights/_rights
include ../list/_list

// Footer
footer.section.footer.footer-sm.bg-transparent
	.container
		.row.row-30.flex-md-row-reverse.justify-content-lg-between
			.col-md-7.col-lg-6.col-xl-5
				.footer-title.h4 Subscribe to our newsletter
				p Enter your e-mail below to stay in the know about our news and updates.
				form.rd-mailform.form-inline.flex-xl-nowrap.group-10( data-form-output='form-output-subscribe', data-form-type='subscribe', method='post', action='components/rd-mailform/rd-mailform.php' )
					.form-inline-group
						input.form-control.form-control-round( type='email', name='email', placeholder='Your email address *', data-constraints='@Email @Required' )
					button.btn.btn-round.btn-primary.btn-nuka( type='submit' ) Submit
						span.btn-overlay
				#form-output-subscribe.form-output.snackbar.snackbar-secondary
			.col-md-5.col-lg-4.col-xl-3
				+logo
				+list-social.text-500
				+rights
