include ../lin-icon/_lin-icon
include ../input/_input

// Popup newsletter
#popup-newsletter.popup.popup-round.popup-newsletter.text-start.modal( tabindex='-1', role='dialog' )
	.modal-dialog.modal-lg( role='document' )
		.modal-content.slideInRight
			button.close( type='button', data-dismiss='modal', aria-label='Close' )
				span( aria-hidden='true' ) ×
			.modal-body.popup-scroll
				.popup-newsletter-left
					.media.media-sm.align-items-center
						.media-left
							+lin-message.lin-md.text-700
						.media-body
							h2 Sign up now!
					h4.fw-medium.font-family-base.text-primary Increase your sales with our weekly newsletter
					p
						span.fw-medium.text-700 With Lintense
						| , you will not only get the first-class services for your company but also receive invaluable tips to advance in your business niche. Sign up using the form on the right to get access to our regular tips and tricks selection that includes:
					ul.list.list-mark-check.list-primary.fw-medium.text-700
						li.list-item Web design trends;
						li.list-item Industry experts’ opinions;
						li.list-item Marketing & PR tips;
						li.list-item Latest news & updates.
				.popup-newsletter-right.bg-primary
					h4.text-white Subscribe and Get Your Bonus!
					//RD Mailform
					form.rd-mailform.popup-newsletter-form( data-form-output='popup-newsletter-form-output', data-form-type='contact', method='post', action='components/rd-mailform/rd-mailform.php' )
						.form-group
							input.form-control( type='email', name='email', placeholder='Email address *', data-constraints='@Email @Required' )
						.form-group
							input.form-control( type='text', name='first-name', placeholder='First name *', data-constraints='@Required' )
						.form-group
							input.form-control( type='text', name='last-name', placeholder='Last name *', data-constraints='@Required' )
						.form-group
							input.form-control( type='text', name='phone', placeholder='Phone *', data-constraints='@Required @PhoneNumber' )
						.offset-xxs
							button.btn.btn-block.btn-secondary.btn-nuka.text-uppercase( type='submit' ) Subscribe now!
								span.btn-overlay
					.offset-xs
						+checkbox( {
							id: 'check1'
						} )
							| I agree to the
							| #[a.link.link-700( href='#' ) Privacy Policy] and
							| #[a.link.link-700( href='#' ) Terms of Use],
							| and want to receive news

			.popup-swipe
			.popup-link
				a.link.link-light( href='#' ) Don’t show this window again

#popup-newsletter-form-output.form-output.snackbar.snackbar-secondary